.navbar-default{
  margin-bottom: 0;
}
.navbar-default{
  background: #4156cc  !important;
  padding: 10px 0;
  border-bottom: none;
}
.navbar-default{
  border-color: white;
}
.navbar-fixed-top{
  top: 0;
  border-width: 0 0 1px;
}
.navbar-fixed-bottom, .navbar-fixed-top{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar{
  border: 1px solid transparent;
}
.m-menu .container{
  position: relative;
}
.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container>.navbar-header{
  margin-right: -15px;
  margin-left: -15px;
}
.navbar-default .navbar-toggle{
  border-color: #ddd;
}
.navbar-toggle{
  position: absolute;
  right: 0;
  padding: 5px 10px ;
  border: 0;
  border-radius: 0;
}
.navbar-toggle{
  display: block;
}
.navbar-toggle{
  float: right;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;

}
button{
  -webkit-appearance: button;
  cursor: pointer;
}
.navbar-default .navbar-brand{
  color: #777;
}
.navbar-brand{
  padding-top: 0;
  padding-bottom: 0;
  height: 40px;
}
.navbar-brand{
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
a, a:active , a:focus, a:active{
  text-decoration: none;
  outline: none;
}
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #ffffffff;
}
.navbar-toggle .icon-bar{
width: 14px;
height: 3px;
}
.carousel-inner>.item>img{
  line-height: 1;
}
.carousel-inner> .item>img{
  display: block;
  height: auto;
}

h1{
  display: block;
  font-size: 70px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
}
.hero-slide .carousel-caption h1 {
  font-size: 110px;
  line-height: 1;
  /* font-weight: bold; */
  text-transform: uppercase;
  color: #ffffff;
}
.hero-slide .carousel-caption h1 {
    font-size: 24px;
}
.hero-slide .carousel-caption {
  bottom: 50%;
  text-shadow: none;
  transform: translateY(50%);
  font-size: 100px;
}
.carousel-caption {
  position: relative;
  bottom: 800px;
  left: 1%;
  z-index: 10;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgb(0 0 0 / 60%);}
  .hero-slide .carousel-caption p {
    font-size: 200px;
    color: #ffffff;
    font-weight: normal;
    font-family: sans-serif;
}
p {
  margin: 0 0 10px;
}
p{
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size:30px ;

}









.carousel {
  position: relative;
  width: 100%;
}

.carousel-wrapper {
  display: flex;
  overflow: hidden;
}

.carousel-item {
  flex-shrink: 0;
  width: 100%;
}

.carousel-control {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.carousel-control:hover {
  background-color: rgba(119, 1, 1, 0.5);
}

.prev {
  left: 0px;
}

.next {
  right: 30px;
}

a.home{
    color: #e3e3e3;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  list-style-type: none;
  border: 1px solid rgb(255, 255, 255) ;
}
li{
  margin: 0 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  float: right;
  margin: 20px; 
}
.about{
      color: #e3e3e3;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  list-style-type: none;
  margin: 10px;
}
ul li{
padding: 10px;
}
.fa-solid{
  margin: 10px;
  font-size:20px ;
  color: white;
}

